.menu1 ul {
    position: absolute;
    z-index: 999;
}

img:hover {
    opacity: 0.5;
    filter: alpha (opacity = 50);
}

.title-news-chidle {
    padding-left: 0px !important;
}

#header-readest-news {
    font-size: 30px;
    font-family: -webkit-body;
}

div.title-readest-news {
    height: 90px;
    padding-top: 15px;
}

.view-time-ago {
    position: absolute;
    right: 30px;
    bottom: 25px;
    font-size: 12px;
    color: #bbb8b8;
}

.title-time-ago {
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    color: #bbb8b8;
}

.marg-chidle {
    margin-left: 15px;
}

.break {
    clear: both;
    height: 10px;
    width: 100%;
    margin:auto;
    border-bottom: 1px solid #EEEEEE;
}

.break-footer {
    border-bottom: 10px solid #7d4f5e;
}

.break90 {
    clear: both;
    height: 10px;
    width: 90%;
    margin:auto;
    border-bottom: 1px solid #EEEEEE;
}

.hidden-title {
    display: none;
}

.display-title {
    margin-right: -35px !important;
    margin-bottom: 10px !important;
}

.space20 {
    height: 20px;
    width: 100%;
}

.space10 {
    height: 10px;
    width: 100%;
}

.space5 {
    height: 5px;
    width: 100%;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top15 {
    margin-top: 15px;
}

.color-red {
    color: red;
}

.page-header {
    color: #395e98;
    font-weight: 900;
}

.row-item {
    padding-left:15px;
}

.border-left {
    border-left: 1px solid #EEEEEE;
}

.border-right {
    border-right: 1px solid #EEEEEE;
}

a {
    color:black;
}

a:hover {
    text-decoration: none;
}

.myheader {
    background-color: #337AB7;
    color:white;
}

.clear {
    clear:both;
}

#background-footer {
    color: #fff;
}

#copy-right {
    padding-top: 10px;
    background: #f1f1f1;
}

#break-copy-right{
    border-bottom: 1px solid #000000;
}

.center-text {
    text-align: center;
}

.error {
    width: 100%;
    color: #B0BEC5;
    text-align: center;
    font-size: 72px;
    margin-bottom: 40px;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.news-list-title-time-ago {
    margin-top: 5px;
    color: #bbb7b7;
    font-size: 14px;
}

.readest-news-in-news-list {
    height: 90px;
    padding-top: 10px;
}

.news-list-description {
    margin-top: 5px;
}

.margin-top0-imp {
    margin-top: 0px !important; 
}

.margin-top5-imp {
    margin-top: 0px !important; 
}

.margin-top10-imp {
    margin-top: 0px !important; 
}
